<div class="success_container">
    <div class="wrapper">
        <div class="check_container">
            <svg xmlns="http://www.w3.org/2000/svg" width="161" height="100" viewBox="0 0 161 168" fill="none">
                <ellipse cx="80.5" cy="84" rx="60.375" ry="63" stroke="#4D8C30" stroke-width="2"/>
                <path d="M53.6668 84L73.7918 105L107.333 63" stroke="#4D8C30" stroke-width="2"/>
            </svg>
        </div>
        <div class="message">
            Order Successfully Placed
        </div>
        <div class="button_container">
            <div class="button" [routerLink]="['/shop/console']">Go Back</div>
        </div>
    </div>
</div>
