<main>
    <div class="controller_contianer">
        <div class="text_container">
            <div>GEAR UP</div>
            <div>TO REDEFINE YOUR</div>
            <div>GAMING WORLD!</div>
            <div class="button_container">
                <div class="button" [routerLink]="['/shop/console']" routerLinkActive="router-link-active" >Shop now</div>
            </div>
        </div>
        <div class="img_container">
            <img class="blue_controller" src="assets/blue_controller.png" alt="">
            <img class="white_controller" src="assets/white_controller.png" alt="">
        </div>
    </div>
    <div class="ps5_container">
        <div class="console_container">
            <img src="assets/console.png" alt="">
        </div>
        <div class="ps5_info_container">
            <div class="ps5_logo"><img src="assets/ps5_text.png" alt=""></div>
            <div class="description_container">
                Experience lightning-fast loading with an ultra-high speed SSD, deeper immersion with support for haptic feedback1, adaptive triggers1 and 3D Audio*, and an all-new generation of incredible PlayStation games.
            </div>
            <div class="button_container">
                <div class="button" routerLink="/shop/console">See more</div>
            </div>
        </div>
    </div>
</main>
